@font-face {
  font-family: Torus;
  src: url(fonts/Torus-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Torus;
  src: url(fonts/Torus-Heavy.otf);
  font-weight: 900;
}

@font-face {
  font-family: Torus;
  src: url(fonts/Torus-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Torus;
  src: url(fonts/Torus-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Torus;
  src: url(fonts/Torus-SemiBold.otf);
  font-weight: 500;
}

@font-face {
  font-family: Torus;
  src: url(fonts/Torus-Thin.otf);
  font-weight: 100;
}

.app {
  font-family: Torus;
  background-color: #262b47;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  box-sizing: border-box;
}

.app-title {
  font-size: 2rem;
  font-weight: 500;
}

.grid-view {
  box-sizing: border-box;
  margin-top: 4rem;
  width: 48rem;
  display: flex;
  flex-wrap: wrap;
}

.amiibo-card {
  background-color: whitesmoke;
  color: black;
  border-radius: 0.5rem;
  width: 10rem;
  height: 14rem;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.5rem;
  padding-bottom: 0rem;
  box-shadow: 0.25rem 0.25rem 0.5rem black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.amiibo-card-clickable:hover {
  background-color: lightgreen;
}

.amiibo-card-deletable:hover {
  background-color: lightpink;
}

.add-amiibo-button {
  background-color: #ffbb3d;
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.add-amiibo-button:hover {
  background-color: #ffca67;
}

.amiibo-image-container {
  width: 75%;
  height: 80%;
  display: flex;
  align-items: center;
}

.amiibo-image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.amiibo-name {
  font-weight: 500;
  user-select: none;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amiibo-name-editable {
  cursor: pointer;
}

.amiibo-name-editable:hover {
  color: #2c2c2c;
}

.amiibo-input-field {
  width: 100%;
  margin-bottom: 0.25rem;
}
